//- contact-footer

.col.s12.facts-content-col
	.contact-footer.center-align
		a(href='http://marcelopaiva.com', target='_blank') marcelopaiva.com
		a(href='http://www.linkedin.com/in/mtpaiva/', target='_blank')
			i.fa.fa-linkedin.fa-lg
		a(href='https://twitter.com/@muqueca', target='_blank')
			i.fa.fa-twitter.fa-lg
		a(href='https://www.reddit.com/r/uxers/', target='_blank')
			i.fa.fa-reddit.fa-lg
		a(href='https://github.com/mpaiva/material-resume', target='_blank')
			i.fa.fa-github.fa-lg