//- timeline
.fixed-action-btn( style='bottom:45px; right:24px;')
	a.btn-floating.btn-large.waves-effect.waves-light(

		class  = 'red',
		href   = '',
		target = '_blank'
		
		): i.mdi-file-file-download

