
//- summary

.col.s2.right-align.fact-icon
	//- materialize icon = small.mdi-action-perm-identity
	h5: i( class = [ 'fa', '#{locals.biography.icon}', 'fa-sm'])
.col.s10.facts-content-col
	h5.side #{locals.biography.label}
	p.facts-about
		| #{locals.biography.p1}
	
	p.facts-about
		| #{locals.biography.p2}


