//- work
.col.s12.facts-content-col.job
	h4 #{locals.job.label}
	each highlight in locals.job.highlights
		h5.role #{highlight.role}
		p
			if highlight.items
				each item in highlight.items
					p
						span.work-company #{item.project} 
						| &mdash;	#{item.description}.