- var language = "en"
- var metaDescription = "Professional Resume using Google\'s Material Design visual language. Built using modern web development workflow tools, such as Bower for package mamagement, Gulp and plugins for web development task management, Jade as HTML template language and Materialize SASS as CSS scaffolding."

- var bootstrap    = false
- var fontAwesome  = false
- var materialize  = false
- var jQuery       = false
- var customStyles = false

- var bodyClasses = "['','']"
